
<!-- <body class="hold-transition sidebar-mini layout-fixed"> -->
<div class="wrapper">

  <!-- BarS -->
  <%- include('../partials/admin-bars') -%>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">


    <!-- Content Header (Page header) -->
    <%- include('../partials/admin-header') -%>

    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <%- include('../partials/admin-boxes') -%>

        <!-- Main row -->
        <div class="container-fluid">
          <center>
            <div class="card col-9 col-md-6 col-lg-6"> <h2> <%= data.logs %> Site visits</h2> 
            <br>
            <a href="/logs"> View logs</a>
            </div>


          </center>
          <section class="col-lg-7 connectedSortable">
         
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include('../partials/admin-footer') -%>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

