
<!-- <body class="hold-transition sidebar-mini layout-fixed"> -->
    <div class="wrapper">

        <!-- BarS -->
        <%- include('../../partials/admin-bars') -%>
      
      
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
      
      
          <!-- Content Header (Page header) -->
          <%- include('../../partials/admin-header') -%>
      
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <a href="<%= pdf.path %>" class="btn btn-success">pdf</a>
            <a href="/cv/edit/<%= pdf.id %>" class="btn btn-success">Update CV</a>
<hr>
            <div class="container-fluid">
            
              
              <embed src="<%= pdf.path %>" class="col-md-12 col-12 col-lg-12 col-sm-12 col-xs-12" height="500">
            </div>
              
               
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <%- include('../../partials/admin-footer') -%>
      
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
          <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
      </div>
      <!-- ./wrapper -->
      
      