

  <!-- Main content -->
  <section class="content">
    <div class="row container">
     
      <!-- /.col -->
      <div class="col-md-12 container>
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title"><%- route %> Messages </h3>

            <div class="card-tools">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search Mail">
                <div class="input-group-append">
                  <div class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
           
            <div class="table-responsive mailbox-messages">
              <table class="table table-hover table-dark table-striped">
                <tbody>
               <% if (messages.length == 0){
                      %>
                        <h3 class="p-3 text-warning text-strong">Opps there is no any messages in <%- route %> </h3>
                  <%
               } %>

                <% messages.forEach(msg => {
                    %>

                    <tr>
                  
                      <% if (msg.deleted) { %>
                        <td class="mailbox-star"><a href="/messages/recover/<%= msg.id %>" ><i class="text-success fas fa-sync-alt"></a></td>

                    <% } else { %>
                      <td class="mailbox-star"><a href="/messages/del/<%= msg.id %>"><i class="text-danger far fa-trash-alt"></a></td>

                      <% } %>
                  <td class="mailbox-name"><a href="/messages/<%= msg.id %>"><%= msg.sendersname %> <%= msg.lastname %></a></td>

                  <td class="mailbox-subject"><b><%= msg.email %></b> 
                  </td>
                  <td><small class="text-primary">  <%- msg.read ? 'seen' : 'new'; %></small>
                    <small class="text-primary">  <% if (msg.read) { %> <a href="/messages/unread/<%= msg.id %>" class="text-success">unread</a> <% } %></small> 
                     </td>
                  <td class="mailbox-attachment"></td>
                  <td class="mailbox-date">5 mins ago</td>
                  <td class="mailbox-name"><a href="/messages/<%= msg.id %>" class="btn btn-default text-primary">read</a></td>

                    
                
                </tr>
               

                    <%
                }); %>
                </tbody>
              </table>
              <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.card-body -->
          
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->