<div class="footer_content bg-white" style="margin-bottom: -80px;">
    <div class="container">
        <div class="row">
            
            <!-- About -->
            <div class="col-lg-4 footer_col ">
                <div class="footer_about">
                    <div class="footer_logo">
                        <a href="#">
                            <div class="d-flex flex-row align-items-center justify-content-start">
                                <div class="footer_logo_icon"><img src="" alt=""></div>
                                <div>Education</div>
                            </div>
                        </a>		
                    </div>
                    <div class="footer_about_text" >
                        <p class="text-dark">Currently parsuing a barchelor degree  of science in 
                          Information Technology and Systems at Mzumbe University that is from 2017 to 2020
                        </p>
                        <p class="text-dark">Certifiied with Certificate of Advanced Secondary Education in 2017, Awarded Certificate of Ordinary Secondary Education in 2014, Certificate of Primary Education in 2010</p>

                      </div>
                    <br>              <p><a href="<%- data.cv[0].path %> " class="btn bg-white text-success mt-20 rounded-6" style="border-color: green; border: strong;">Carriculum Vitae</a><small class="text-success">.pdf</small></p>

                </div>
            </div>
              <!-- Projects -->
              <div class="col-lg-8 card bg-success mt-4">
                  <br><br>
                
                    <center><span style="font-size: 3em;" class="text-dark"><b>Projects</b></span></center>
                                <div class="container">
                    
                                        <table class="table table-hover">
                                                <thead class="bg-dark">
                                                  <tr>
                                                    
                                                    <th scope="col">Project</th>
                                                  
                                                    <th scope="col">Completed</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <% data.projects.forEach(project => {
                                                    %>
                                                    <tr>
                                                    <td ><a href="/projectz/<%= project.id %>" style="display:block" class="text-white"><%= project.projectname%></a> </td>
                                                    <td><a href="/projectz/<%= project.id %>" style="display:block" class="text-white"><%= project.completed %>%</a> </td>

                                                    
                                                  </tr>
                                                  <%
                                                  }); 
                                                  
                                                  %>
                                                  
                                                </tbody>
                                              </table>
                                              <br>              <p>
                                                <a href="/projectz" class="btn btn-success text-dark mt-20 mb-3 rounded-3" style="border-color: black">More</a></p>
                                              <br> 
                                </div>                    
                </div>

            <!-- Projects -->
           

           
        </div>
    </div>
</div>
