<div class="bg-light">
        <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title text-dark"><%= data.services[0].head %></h2>
                  <p class="card-text"><%= data.services[0].bodytext %></p>
                </div>
                  <img src="images/uiux.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                 
                 
                </div>
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title text-dark"><%= data.services[2].head %></h2>
                    <p class="card-text"><%= data.services[2].bodytext %></p>
                   </div>
                  <img src="images/backend.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                 
                  
                </div>
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title text-dark"><%= data.services[2].head %></h2>
                    <p class="card-text"><%= data.services[2].bodytext %></p>
                   </div>
                  <img src="images/backend.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                 
                  
                </div>
                
              </div>
              
</div>