<div class="bg-light">
        <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title text-dark"><%= data.services[0].head %></h2>
                  <p class="card-text"><%= data.services[0].bodytext %></p>
                </div>
                  <img src="<%= data.services[0].imgpath %>" style="height: 220px;" class="card-img-top" alt="...">


                </div>
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title text-dark"><%= data.services[1].head %></h2>
                    <p class="card-text"><%= data.services[1].bodytext %></p>
                   </div>
                  <img src="<%= data.services[1].imgpath %>" style="height: 220px;" class="card-img-top" alt="...">


                </div>
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title text-dark"><%= data.services[2].head %></h2>
                    <p class="card-text"><%= data.services[2].bodytext %></p>
                   </div>
                  <img src="<%= data.services[2].imgpath %>" style="height: 220px;" class="card-img-top" alt="...">


                </div>

              </div>

</div>
