
<div class="footer_content bg-white" style="margin-bottom: -50px; margin-top: -25px;">
    <div class="container bg-white" >
        <div class="row">


            <div class="col-lg-4 footer_col bg-white ">
                <div class="footer_about bg-white">
                    <div class="footer_logo bg-white">
                        <a href="#">
                            <div class="d-flex flex-row align-items-center justify-content-start">
                                <div class="footer_logo_icon"><img src="" alt=""></div>
                                <div>About the projects</div>
                            </div>
                        </a>
                    </div>
                    <div class="footer_about_text" >
                        <p class="text-dark">The projects mentioned under this section are some of many, selected to show the skills in relation to the technology used to show how powerful the product can be  
                        </p>
                        <p class="text-dark">To see all the projects if interested, checkout my github repositories by clicking the dark button with GitHub Icon below </p>

                      </div>

                </div>
            </div>
              <!-- Projects -->
              <div class="col-lg-8 card bg-white mt-4 mb-4" style="border:none !important;">
                  <br><br>

                    <center><span style="font-size: 3em;" class="text-dark"><b><%=data.projects.length %> Projects</b></span></center>
                                <div class="container">

                                        <table class="table table-hover">
                                                <thead class="">
                                                  <tr>

                                                    <th scope="col"></th>

                                                    <th scope="col" class="text-success"> progress </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <% data.projects.forEach(project => {
                                                    %>
                                                    <tr>
                                                    <td ><a href="/projectz/<%= project.id %>" style="display:block" class="text-dark"><%= project.projectname%></a> </td>
                                                    <td><a href="/projectz/<%= project.id %>" style="display:block" class="text-dark"><%= project.completed %>%</a> </td>


                                                  </tr>
                                                  <%
                                                  });

                                                  %>

                                                </tbody>
                                              </table>

                                </div>

                </div>

            <!-- Projects -->


                        <a href="https://github.com/erickmgongo/" class="btn btn-lg ml-2 bg-dark text-white mt-30 rounded-6" style="border-color: green; border: strong;"><i class="fab fa-github "></i></a></p>
            <br>
        </div>
    </div>
</div>
