<div class="bg-light  margin-bottom:-40px">
        <div class="card-deck">
                <div class="card">
                  <img src="images/uiux.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h2 class="card-title text-dark"><%= data.services[0].head %></h2>
                    <p class="card-text"><%= data.services[0].bodytext %></p>
                  </div>
                 
                </div>
                <div class="card">
                  <img src="images/frontend.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h2 class="card-title text-dark"><%= data.services[1].head %></h2>
                    <p class="card-text"><%= data.services[1].bodytext %></p></div>
                 
                </div>
                <div class="card">
                  <img src="images/backend.jpeg" style="height: 220px;" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h2 class="card-title text-dark"><%= data.services[2].head %></h2>
                    <p class="card-text"><%= data.services[2].bodytext %></p>
                   </div>
                  
                </div>
                
              </div>
              <br>
              <hr>
</div>