
<div class="footer_content bg-white" style="margin-bottom: -20px; margin-top: -25px;">
    <div class="container bg-white" >
        <div class="row">

          <center><h1 class="text-light"></h1></center>
            <div class="col-lg-4 footer_col bg-white ">
                <div class="footer_about bg-white">
                    <div class="footer_logo bg-white">
                        <a href="#">
                            <div class="d-flex flex-row align-items-center justify-content-start">
                                <div class="footer_logo_icon"><img src="" alt=""></div>
                                <div>Education</div>
                            </div>
                        </a>
                    </div>
                    <div class="footer_about_text" >
                        <p class="text-dark">Currently parsuing a barchelor degree  of science in
                          Information Technology and Systems at Mzumbe University, from 2017 to 2020
                        </p>
                        <p class="text-dark">Certifiied with Certificate of Advanced Secondary Education in 2017, Awarded Certificate of Ordinary Secondary Education in 2014, Certificate of Primary Education in 2010</p>

                      </div>
<br>
                </div>
                <p>                        <a href="<%= data.cv[0].path %>" class="btn btn-lg ml-2 mt-10 bg-white text-success rounded-6" style="border-color: green; border: strong;"> Carriculum Vitae</a><small>pdf</small></p>

            </div>
              <!-- Projects -->
              <div class="col-lg-8 card bg-white mt-4 mb-4" style="border:none !important;">
                  <br><br>

                    <center><span style="font-size: 3em;" class="text-dark"><b> Projects</b></span></center>
                                <div class="container">

                                        <table class="table table-hover">
                                                <thead class="">
                                                  <tr>

                                                    <th scope="col"></th>

                                                    <th scope="col" class="text-success"> progress </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <% var i = 0;
                                                  data.projects.forEach(project => {
                                                    i += 1;
                                                    if (i <= 3) {


                                                    %>
                                                    <tr>
                                                    <td ><a href="/projectz/<%= project.id %>" style="display:block" class="text-dark"><%= project.projectname%></a> </td>
                                                    <td><a href="/projectz/<%= project.id %>" style="display:block" class="text-dark"><%= project.completed %>%</a> </td>


                                                  </tr>
                                                  <%
                                                  }
                                                  });

                                                  %>

                                                </tbody>
                                              </table>
                                              <p> <a href="/projectz" class="btn btn-lg mb-3 ml-2 bg-white text-success rounded-6" style="border-color: green; border: strong;"> All</a></p>

                                </div>

                </div>

            <!-- Projects -->


            <br><br><br>
        </div>
    </div>
</div>
