
<!-- <body class="hold-transition sidebar-mini layout-fixed"> -->
  <div class="wrapper">

    <!-- BarS -->
    <%- include('../../partials/admin-bars') -%>
  
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
  
  
      <!-- Content Header (Page header) -->
      <%- include('../../partials/admin-header') -%>
  
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          
  
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
        
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                      <div class="card-body box-profile">
                        <div class="text-center">
                          <img class="profile-user-img img-fluid img-circle"
                               src="<%- profile.profileimg %> "
                               alt="User profile picture">
                        </div>
        
                        <h3 class="profile-username text-center"><%- profile.firstname %> <%- profile.middlename %> <%- profile.lastname %> </h3>
        
                        <p class="text-muted text-center"><%- profile.JobTitle %> </p>
        
                        <ul class="list-group list-group-unbordered mb-3">
                          <li class="list-group-item">
                            <b>Nationality</b> <a class="float-right"><%- profile.Nationality %></a>
                          </li>
                          <li class="list-group-item">
                            <b>Status</b> <a class="float-right"><%- profile.MaritalStatus %></a>
                          </li>
                          
                        </ul>
        
                        <a href="/profile/edit" class="btn btn-primary btn-block"><b>Update</b></a>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
        
                    
                  </div>
                  <!-- /.col -->
                          <div class="col-md-9">
                            


                                  <!-- About Me Box -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Education</strong>
        
                        <p class="text-muted">
                          <%- profile.Education %>                        </p>
        
                        <hr>
        
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
        
                        <p class="text-muted"><%- profile.Location %></p>
        
                        <hr>
                      
                        <strong><i class="fas fa-pencil-alt mr-1"></i> Hobbies</strong>
        
                        <p class="text-muted">
                          <% profile.Hobbies.forEach( function(hobbie){
                            %>

                          <span class="tag tag-danger"><%- hobbie %></span>
                            <%
                          }) %> 
                          
                        </p>
        
                        <hr>
        
                        <strong><i class="far fa-file-alt mr-1"></i> Note</strong>
        
                        <p class="text-muted"><%- profile.Note %></p>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                          </div>
                     
                          
                    </div>
                    <!-- /.nav-tabs-custom -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div><!-- /.container-fluid -->
            </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../../partials/admin-footer') -%>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  