
<!-- <body class="hold-transition sidebar-mini layout-fixed"> -->
  <div class="wrapper">

    <!-- BarS -->
    <%- include('../../partials/admin-bars') -%>
  
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
  
  
      <!-- Content Header (Page header) -->
      <%- include('../../partials/admin-header') -%>
  
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          
          <div class="col-md-12 container">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Projects</h3>

               <a href="/servicez/add" class="btn btn-primary btn-rounded m-4" style="border-radius: 40%;">Add <b>+</b></a>

                <div class="card-tools">
                  <ul class="pagination pagination-sm float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0 table-responsive">
                <table class="table table-striped table-light table-hovable">
                  <thead>
                    <tr>
                      <th style="">#</th>
                      <th></th>
                      <th style="">Service</th>

                      <th></th>

                      <th></th>

                      <th></th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <%
                      services.forEach(service => {
                        %>

                        <tr >
                      <td><%= service.id %></td>
                      <td>                     
                           <img src="<%= service.imgpath %>" alt="service image" class="img thumbnail p-1" style="width: 6rem;">
                                        </td>
                      
                
                      <td>    <%= service.head %>   </td>
                          <td> <a href="/servicez/<%= service.id %>" class="text-success">Read</a>  </td>
                          <td> <a href="/servicez/edit/<%= service.id %>" >Update</a>  </td>
                          <td> <a href="/servicez/delete/<%= service.id %>" class="text-danger">Delete</a>  </td>
                    </tr>


                        <%
                        
                      });
                      
                      %>
                   
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


  
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
           
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../../partials/admin-footer') -%>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  