
<!-- <body class="hold-transition sidebar-mini layout-fixed"> -->
  <div class="wrapper">

    <!-- BarS -->
    <%- include('../../partials/admin-bars') -%>
  
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
  
  
      <!-- Content Header (Page header) -->
      <%- include('../../partials/admin-header') -%>
  
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          
  
          <div class="container" style="">
            <div class="container col-md-12" style="">
              <div class="col-md-6">
                <img src="<%= service.imgpath %>" alt="service image" class="img thumbnail  p-1" style="">
  
  
              </div>
            <div class="card-body">
              <h3 class="card-title m-4 text-bold"><%= service.head %></h3>
              
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name: <%= service.s_name %></li>
              <li class="list-group-item">Body: <%= service.bodytext %></li>

            </ul>
            <h4 class="m-3 text-bold">Tools</h4>
            <ul class="list-group list-group-flush">
              <% service.tools.forEach((tool) => {
%>
<li class="list-group-item"><%=tool %></li>

<%

              }) %> 
              
            </ul>
            <div class="card-body">
              <a href="/servicez" class="btn btn-success">Back to Services</a>
              <a href="/servicez/edit/<%= service.id %>" class="btn btn-primary">Edit</a>
              <a href="/servicez/delete/<%= service.id %>" class="btn btn-danger">Erase</a>
            </div>
          </div>
           
        </div>
      </section>
      <!-- /.content -->
   
    <!-- /.content-wrapper -->
    <%- include('../../partials/admin-footer') -%>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  