


<!-- Menu -->

<%- include('partials/menu') -%>

<div class="super_container" >

	<!-- Header -->

	<%- include('partials/header') -%>

	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->

		<div class="home">
			<!-- Home Slider -->
<%- include('partials/slide') -%>

		<nav class="navbar navbar-light navbar-fixed-top" style="border-color: green;">
			<!-- Phone -->
		   <div class="navbar-left">
			<h1 class="text-dark"> Services</h1>
			 </div>

			 <div class="nav-item navbar-right">
				<a href="#alpha" class="btn btn-success btn-sm text-light" style="border-color: white; border-radius: 30%;">-></a>
<small class="text-success">Quick mail </small>

		 </div>


 </nav>

<!-- SECTION 2 -->
<%- include('partials/section0') -%>





<!-- SECTION 4 -->
<%- include('partials/section4') -%>

<nav class="navbar navbar-white navbar-fixed-top container" style="border-color: green; align-content: center;">
	<!-- Phone -->
	<div class="navbar-left">
		<a href="#tap" class="btn  text-dark" style="position: relative; border-color: green;"><h5>Top</h5></a>
	</div>


<div class="navbar-left">
	<a href="#futer" class="btn  text-dark" style="position: relative; border-color: green;"><h5>Down</h5></a>
</div>
<hr>
</nav>
		<!-- Features -->
<!-- SECTION 3 -->
<%- include('partials/section3') -%>

<%- include('partials/quote') -%>

		<!-- Footer -->

	<%- include('partials/footer') -%>
	</div>

</div>
