


<!-- Menu -->

<%- include('partials/menu') -%>

<div class="super_container" >

	<!-- Header -->

	<%- include('partials/header') -%>

	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->

		<div class="home">
			<!-- Home Slider -->
			<div class="home_slider_container">
				<div class="owl-carousel owl-theme home_slider">
					
					<!-- Slide -->
					<div class="owl-item">
						<div class="background_image" style="background-image:url(images/laravel.jpeg);"></div>
						<div class="container fill_height">
							<div class="row fill_height">
								<div class="col fill_height">
									<div class="home_container d-flex flex-column align-items-center justify-content-start">
										<div class="home_content">
											<div class="home_title">Hire Me</div>
											<div class="home_subtitle">for your website</div>
											<div class="home_items">
												<div class="row">
													<div class="col-sm-3 offset-lg-1">
													</div>
													<div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
														<div class="product home_item_large">
															
															<div class="product_content">
																<div class="product_info d-flex flex-row align-items-start justify-content-start">
																	<b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>
																	
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>

					<!-- Slide -->
						<!-- Slide -->
						<div class="owl-item">
								<div class="background_image" style="background-image:url(images/mern.jpeg)"></div>
								<div class="container fill_height">
									<div class="row fill_height">
										<div class="col fill_height">
											<div class="home_container d-flex flex-column align-items-center justify-content-start">
												<div class="home_content">
													<div class="home_title">Proficient in JavaScript World</div>
													<div class="home_subtitle">Lets build Apps and APIs together</div>
													<div class="home_items">
														<div class="row">
															<div class="col-sm-3 offset-lg-1">
															</div>
															<div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
																<div class="product home_item_large">
																	
																	<div class="product_content">
																		<div class="product_info d-flex flex-row align-items-start justify-content-start">
																			<b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>
																			
																		</div>
																		
																	</div>
																</div>
															</div>
															<div class="col-sm-3">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
		
							<!-- Slide -->
				<!-- Slide -->
		<div class="owl-item">
				<div class="background_image" style="background-image:url(images/hero2.jpeg)"></div>
				<div class="container fill_height">
					<div class="row fill_height">
						<div class="col fill_height">
							<div class="home_container d-flex flex-column align-items-center justify-content-start">
								<div class="home_content">
									<div class="home_title">You deserve</div>
									<div class="home_subtitle">More than just a coder</div>
									<div class="home_items">
										<div class="row">
											<div class="col-sm-3 offset-lg-1">
											</div>
											<div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
												<div class="product home_item_large">
													
													<div class="product_content">
														<div class="product_info d-flex flex-row align-items-start justify-content-start">
															<b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>
															
														</div>
														
													</div>
												</div>
											</div>
											<div class="col-sm-3">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>

						
					<!-- Slide -->
					<div class="owl-item">
							<div class="background_image" style="background-image:url(images/asp.jpeg)"></div>
							<div class="container fill_height">
								<div class="row fill_height">
									<div class="col fill_height">
										<div class="home_container d-flex flex-column align-items-center justify-content-start">
											<div class="home_content">
												<div class="home_title">Get the most out of me</div>
												<div class="home_subtitle">With old technologies</div>
												<div class="home_items">
													<div class="row">
														<div class="col-sm-3 offset-lg-1">
														</div>
														<div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
															<div class="product home_item_large">
																
																<div class="product_content">
																	<div class="product_info d-flex flex-row align-items-start justify-content-start">
																		<b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>
																		
																	</div>
																	
																</div>
															</div>
														</div>
														<div class="col-sm-3">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</div>
	
						<!-- Slide -->
						<!-- Slide -->
						<div class="owl-item">
								<div class="background_image" style="background-image:url(images/hero3.jpeg)"></div>
								<div class="container fill_height">
									<div class="row fill_height">
										<div class="col fill_height">
											<div class="home_container d-flex flex-column align-items-center justify-content-start">
												<div class="home_content">
													<div class="home_title">Exposure</div>
													<div class="home_subtitle">With lots of Stacks and Databases</div>
													<div class="home_items">
														<div class="row">
															<div class="col-sm-3 offset-lg-1">
															</div>
															<div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
																<div class="product home_item_large">
																	
																	<div class="product_content">
																		<div class="product_info d-flex flex-row align-items-start justify-content-start">
																			<b class="text-white float-right">My name is Erick am A Fullstack Web Developer in Tanzania</b>
																			
																		</div>
																		
																	</div>
																</div>
															</div>
															<div class="col-sm-3">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>

					<!-- Slide -->
				</div>
				<div class="home_slider_nav home_slider_nav_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
				<div class="home_slider_nav home_slider_nav_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>

				<!-- Home Slider Dots -->
				
				<div class="home_slider_dots_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="home_slider_dots">
									<ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-center">
										<li class="home_slider_custom_dot active">01</li>
										<li class="home_slider_custom_dot">02</li>
										<li class="home_slider_custom_dot">03</li>
										<li class="home_slider_custom_dot">04</li>
									</ul>
								</div>
							</div>
						</div>
					</div>	
				</div>

			</div>
		</div>
		

		<nav class="navbar navbar-light navbar-fixed-top" style="border-color: green;">
			<!-- Phone -->
		   <div class="navbar-left">
			<h1> Services</h1>
			 </div>
		   
			 <div class="nav-item navbar-right">
				<a href="#alpha" class="btn btn-success btn-sm text-light" style="border-color: white; border-radius: 30%;">-></a>
<small class="text-success">Quick mail </small>
		
		 </div>

 
 </nav>
	
<!-- SECTION 2 -->
<%- include('partials/section0') -%>





<!-- SECTION 4 -->
<%- include('partials/section4') -%>

<nav class="navbar navbar-white navbar-fixed-top container" style="border-color: green; align-content: center;">
	<!-- Phone -->
	<div class="navbar-left">
		<a href="#tap" class="btn  text-dark" style="position: relative; border-color: green;"><h5>Top</h5></a>
	</div>
   
	
<div class="navbar-left">
	<a href="#futer" class="btn  text-dark" style="position: relative; border-color: green;"><h5>Down</h5></a>
</div>
<hr>
</nav>
		<!-- Features -->
<!-- SECTION 3 -->
<%- include('partials/section3') -%>

<%- include('partials/quote') -%>

		<!-- Footer -->

	<%- include('partials/footer') -%>
	</div>
		
</div>



