
<!-- <body class="hold-transition sidebar-mini layout-fixed"> -->
  <div class="wrapper">

    <!-- BarS -->
    <%- include('../../partials/admin-bars') -%>
  
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
  
  
      <!-- Content Header (Page header) -->
      <%- include('../../partials/admin-header') -%>
  
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container col-md-9 col-lg-9 col-xl-9 card">
          <!-- Small boxes (Stat box) -->
          
          <!-- FORM TO ADD A NEW SKILL -->

          <div class="card-header">
            <h3 class="card-title">Add new Project</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <div class="card-body">


          <form role="form" action="/projects" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label for="Projecttitle">Project Name</label>
                <input type="text" class="form-control" id="Projecttitle" placeholder="Enter Project" name="projectname">
              </div>
              <div class="form-group">
                <label for="desc">Description</label>
                <textarea name="description" id="desc" class="form-control" placeholder="Enter Project"></textarea>
              </div>
              <div class="form-group">
                <label for="budget">Project Budget</label>
                <input type="text" class="form-control" id="Projecttitle" placeholder="100,000" name="budget">
              </div>

              <div class="form-group">
                <label for="initialdate">Project initiation</label>
                <input type="text" class="form-control" id="initialdate" placeholder="2019-07-13" name="initiation">
              </div>

              <div class="form-group">
                <label for="deadline">Project Deadline</label>
                <input type="text" class="form-control" id="deadline" placeholder="2019-07-13" name="deadline">
              </div>

              <div class="form-group">
                <label for="git">GitHub</label>
                <input type="text" class="form-control" id="git" placeholder="www.github.com/.." name="github">
              </div>
             
              <div class="form-group">
                <label for="prod">Production</label>
                <input type="text" class="form-control" id="prod" placeholder="www.mysite.com/.." name="production">
              </div>

              <div class="form-group">
                <label for="">Completed %</label>
                <select class="custom-select " data-size="5"  data-style="btn-default btn-lg" name="completed">
                
                  <% for( i=0; i < 100; i++){

                   %> 
                   <option> <%= i %>  </option>
                  <% } %> 
                
                </select>
              </div>
              
            
              
              <label for="hidden" class="text-dark" style="border:none;">Check the tool</label>

              <div class="row container mt-1">
              <% skills.forEach(skill => {

                
               %> 

               <div class="form-check container col-md-4">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="<%= skill.skillname %>">
                <label class="form-check-label" for="exampleCheck1"><%= skill.skillname %></label>
              </div>
              

              <% }) %> 
              
            </div>
            <!-- /.card-body -->
          </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>


          <!-- /END OF FORM -->
  
        </div>

  
  
        </div>
           
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../../partials/admin-footer') -%>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  