
<!-- <body class="hold-transition sidebar-mini layout-fixed"> -->
  <div class="wrapper">

    <!-- BarS -->
    <%- include('../../partials/admin-bars') -%>
  
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
  
  
      <!-- Content Header (Page header) -->
      <%- include('../../partials/admin-header') -%>
  
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        


  <!-- Main content -->
 
    <div class="row container">
     
      <div class="col-md-12 container">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title text-bold text-dark">Read Message</h3>

            
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="mailbox-read-info">
              
              <h6 style="color: darkslategray;" class="p-1"> Email:  <%= message.email  %> </h6>
              <h6 style="color: darkslategray;" class="p-1"> Phone:  <%= message.phone  %> </h6>
              <h6 style="color: darkslategray;" class="p-1">From: <%= message.sendersname  %> <%= message.lastname  %> 
                <span class="mailbox-read-time float-right" class="p-1">15 Feb. 2015 11:03 PM</span></h6>
            </div>
            <!-- /.mailbox-read-info -->
            <div class="mailbox-controls with-border text-center border-primary">
              
              
            </div>
            <!-- /.mailbox-controls -->
            <div class="mailbox-read-message pt-3" style="color: darkslategray;">
            <%= message.message %> 
            </div>
            <!-- /.mailbox-read-message -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer p-0">
            <div class="mailbox-controls">
              <!-- Check all button -->
             <% if(!message.deleted) { %> 
              <div class="btn-group">
                <a href="/messages/del/<%- message.id %> " class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i> Move to Trash</a>
               
              </div>
            <% } else if (message.deleted) { %>               <!-- /.btn-group -->
              <a href="/messages/recover/<%- message.id %> " class="btn btn-success btn-sm"><i class="fas fa-sync-alt"></i> Recover</a>
            <% } %> 
            <a href="/messages/" class="btn btn-primary btn-sm">Home</a>
            <a href="/messages/inbox" class="btn btn-success btn-sm">Inbox</a>
            <a href="/messages/trash" class="btn btn-danger btn-sm">Trash</a>

              <div class="float-right">
               
               
                <!-- /.btn-group -->
              </div>
              <!-- /.float-right -->
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  
        
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../../partials/admin-footer') -%>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  